body {
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: rgb(50, 167, 145);
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header form {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-flow: column;
  min-width: 675px;
}

#evaluation-form input {
  border-radius: 8px;
  border: 2px solid rgb(50, 167, 145);
  margin: 3px;
  padding: 10px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

