body {
  font-family: 'Montserrat', sans-serif;
}

/* Header - Requisito 1 */
header {
  background-color: rgb(50, 167, 145);
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Form - Requisito 2 */
header form {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}

/* Requisito 3 */
.trybewarts-login .form-control{
  border-radius: 10px;
  border: 2px solid rgb(50, 167, 145);
  margin: 3px;
  padding: 10px;
}

#btn{
  border-radius: 10px;
  border: 2px solid rgb(50, 167, 145);
  background-color: rgb(75,0,130);
  color: white;
  margin: 3px;
  padding: 10px;
  width: 100px
}

/* Main - Requisito 5 */
main {
  display: flex;
  justify-content: space-around;
  margin: 70px;
}
/* Form - Requisito 6 */
#evaluation-form {
  display: flex;
  flex-flow: column;
  width: 675px;
}

/* Inputs - Requisito 8 */
#evaluation-form input {
  border-radius: 10px;
  border: 2px solid rgb(50, 167, 145);
  margin: 3px;
  padding: 10px;
 }

/* Radio Buttons - Requisito 12 */
#divFamily {
  margin: 5px;
}
#family {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

/* Radio Butttons - Requisito 14 */
#satisfaction {
  display: flex;
  align-items: center;
  margin: 5px;
}

#label-rate {
  margin-right: 15px;
}

#satisfaction input {
  margin-right: 20px;
  margin-left: 3px;
}

#satisfaction p {
  margin-block: 0;
}

/* Requisito 7 */
#trybewarts-forms-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
}

/* Requisito 11 */
#email{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}

#house{
  border-radius: 10px;
  border: 2px solid rgb(50, 167, 145);
  background-color: white;
  margin: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-;
}

/* Requisito 13 */
#label-content{ 
  margin: 5px;
}
#checkbox{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

hr{
  width: 650px;
  border: 1px solid black;
}